// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * A95X F3 Air (Shenzhen CYX), Amlogic S905X3.
 *
 * Board description after mainline meson-sm1-a95xf3-air.dts
 * (Copyright (c) 2020 Christian Hewitt <christianshewitt@gmail.com>)
 * and the stock DTB of the box (amlogic-dt-id "sm1_ac213_4g").
 */

/dts-v1/;

#include "sm1_s905x3_common_oldfw.dtsi"
#include "remote-cyx-a95xf3air.dtsi"

/ {
	model = "A95X F3 Air";
	amlogic-dt-id = "sm1_a95xf3air";
	compatible = "sm1_a95xf3air";

	/* 4 GiB, usable range of the stock DTB */
	memory@00000000 {
		device_type = "memory";
		linux,usable-memory = <0x0 0x000000 0x0 0xf5700000>;
	};

	gpioleds {
		compatible = "gpio-leds";
		status = "okay";

		sys_led {
			label="sys_led";
			gpios=<&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
			default-state ="default-on";
		};
	};

	/*
	 * Front panel clock: FD628 with a 4-digit LED display (OpenVFD
	 * display type 0x03 "5D_7S_ABOX", controller FD628), from the A95X
	 * F3 Air entry of arthur-liberman/vfd-configurations. The pins match
	 * the stock cyx-vfd node (STB GPIOAO_6, CLK GPIOAO_7, DAT GPIOAO_8).
	 */
	openvfd {
		compatible = "open,vfd";
		dev_name = "openvfd";
		status = "okay";
		openvfd_gpio_clk = <&gpio_ao GPIOAO_7 GPIO_ACTIVE_HIGH>;
		openvfd_gpio_dat = <&gpio_ao GPIOAO_8 GPIO_ACTIVE_HIGH>;
		openvfd_gpio_stb = <&gpio_ao GPIOAO_6 GPIO_ACTIVE_HIGH>;
		openvfd_chars = [04 00 01 02 03];
		openvfd_dot_bits = [00 01 02 03 04 05 06];
		/* type, reserved, flags, controller (little endian) */
		openvfd_display_type = <0x00000003>;
	};

	/* Bluetooth of the SDIO WiFi module, as in the stock bt-dev node */
	bt-dev {
		compatible = "amlogic, aml-bt";
		dev_name = "bt-dev";
		status = "okay";
		reset-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		hostwake-gpios = <&gpio GPIOX_19 GPIO_ACTIVE_HIGH>;
	};
};

/* Internal 10/100 PHY, as in meson-sm1-a95xf3-air.dts and the stock DTB */
&ethmac {
	status = "okay";
	phy-handle = <&internal_ephy>;
	phy-mode = "rmii";
};

/* uart_A (serial1 -> /dev/ttyS1) is the Bluetooth host controller */
&uart_A {
	status = "okay";
	uart_for_bt = <1>;
};

/* Both USB ports are type A host ports; the stock DTB runs them host only */
&dwc2_a {
	controller-type = <1>;
};

&usb3_phy_v2 {
	otg = <0>;
};
